.vouchersGrid {
  margin: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.businessProfileGrid{
  margin: 80px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.gridItemm{
  text-align: center
}