.vouchersGrid {
  padding-left: 30px;
  padding-right: 30px;
}

/* -- Business Profile -- */

.businessProfileGrid {
  margin: 80px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.businessTitle {
  text-align: center;
  padding: 10px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.businessSubTitle {
  text-align: center;
  padding: 10px;
}

.businessSubTitle h1 {
  font-size: 1.8rem;
}

.informacionNegocioGrid {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.businessDescription {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-style: italic;
}

/* \-- Business Profile  --*/


/* -- Comprar Vouchers -- */

.buyVoucher{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  justify-content: space-around;
}

.searchBars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.searchBar {
  width: 40%;
  background:rgb(255, 255, 255);
  border: none;
  padding: 0.5rem;
  margin: 5px;
  text-align: center;
  letter-spacing: 1.2px;
}

/* \-- Comprar Vouchers  --*/


/* -- Canjear Vouchers -- */

.canjearVouchers {
  margin-top: 5em;
}

/* \-- Canjear Vouchers  --*/


/* -- Reclamos -- */

.reclamos {
  margin-top: 6em;
}

/* \-- Reclamos -- */

/* -- Dialog Productos -- */

.itemList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 60vh;
}

.itemList h1{
  font-size: 20px;
  letter-spacing: 1.5px;
}

.itemList h2{
  font-size: 15px;
  letter-spacing: 1.5px;
  color: rgb(59, 59, 59);
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

/* \ -- Dialog Productos -- */